<template>
  <div>
    <form @submit.prevent="submitForm" class='formData' v-if="!formSubmitted">
      <span>Text Search</span><br>
      <input
        v-model="textsearch"
        type="text"
        placeholder="Partial text matching"
        size=50
      />
      <p>Find Phabricator tasks matching a fulltext search string.</p>
      <span>Task Id</span><br>
      <input 
        v-model="taskid"
        type="text"
        placeholder="Phabricator task id(s)"
        size=50
      />
      <p>To query for multiple task ids, enter comma-separated numbers.</p>
      <span>Tag</span><br>
      <input 
        v-model="tag"
        type="tag"
        placeholder="Phabricator tag(s)"
        size=80
      />
      <p>To query for multiple tags, enter comma-separated terms.</p>
      <input 
        class="submit" 
        type="submit" 
        value="Search"
      >
    </form>
    <div v-if="formSubmitted">
      <h4>Search Parameters</h4>
      <p v-if="textsearch">Text Search: {{ textsearch }}</p>
      <p v-if="taskid">Task Id: {{ taskid }}</p>
      <p v-if="tag">Tag: {{ tag }}</p>
      <p><button @click="rerunSearch">Run another search</button></p>
      <div class="chart" v-if="formSubmitted && tasks.length > 0">
        <HorizontalBarChart :tasks="tasks"/>
      </div>
      <div class="toolbar">
        <span>Total number of tasks returned: {{ tasks.length }}</span>
        <button v-if="tasks.length > 0" @click="exportData(tasks, filename)">Export to CSV</button>
        <button v-if="results && tasks.length > 0" @click="paginateData(response, params, 'after')">Next</button>
        <span v-if="!results">{{ resultsMessage }}</span>
      </div>
      <table v-if="tasks.length > 0">
          <thead>
              <tr>
              <th>#</th>
              <th>Task Id</th>
              <th>Task Name</th>
              <th>Start Date</th>
              <th>Last Modified Date</th>
              <th>End Date</th>
              <th>Status</th>
              <th># of Comments</th>
              <th># of Commenters</th>
              <th># of Gerrit patches</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="(task, index) in tasks" :key="task.id">
              <td>{{ index + 1 }}</td>
              <td><a :href="phabUrl + '/T' + task.id" target="_blank">{{ task.id }}</a></td>
              <td><a :href="phabUrl + '/T' + task.id" target="_blank">{{ task.name }}</a></td>
              <td>{{ task.startDateFormatted }}</td>
              <td>{{ task.modifiedDateFormatted }}</td>
              <td>{{ task.endDateFormatted }}</td>
              <td>{{ task.status }}</td>
              <td>{{ task.commentsTotal }}</td>
              <td>{{ task.commentsAuthorsTotal }}</td>
              <td>{{ task.commentsPatches }}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import HorizontalBarChart from './HorizontalBarChart.vue';
const apiToken = import.meta.env.VITE_API_TOKEN
const phabUrl = import.meta.env.VITE_PHABRICATOR_URL

export default {
  data() {
    return {
        taskid: "",
        tag: "",
        params: "",
        response: {},
        formSubmitted: false,
        phabUrl: phabUrl,
        tasks: [],
        filename: "",
        results: true,
        resultsMessage: "",
    };
  },
  components: {HorizontalBarChart},
  methods: {
    async submitForm(params, response) {
        try {
          // If paging through results, set the response/params from parameters.
          if (params && response) {
            this.params = params;
            this.response = response;
          } else {
            const tagParam = this.tag ? this.setMultipleParameters(this.tag, 'projects') : '';
            const taskIdParam = this.taskid ? this.setMultipleParameters(this.taskid, 'ids') : '';
            const textSearchParam = this.textsearch ? this.formatTextSearch(this.textsearch) : '';
            this.params = 'api.token=' + apiToken + taskIdParam + tagParam + textSearchParam + '&order=newest';
            this.response = await axios.post(phabUrl + '/api/maniphest.search', this.params);
          }

          const data = this.response.data.result.data;

          // Loop thru tasks results to run sub query for more data per row.
          data.forEach((item, index) => {
            const params2 = 'api.token=' + apiToken + '&objectIdentifier=' + item.phid;

            // Query for transaction data per task.
            this.getTransactionData(params2).then(transactionData => {
              this.tasks.push({
                id: data[index].id,
                name: data[index].fields.name,
                startDate: new Date(data[index].fields.dateCreated * 1000),
                startDateFormatted: this.getFormattedDate(new Date(data[index].fields.dateCreated * 1000)),
                modifiedDate: new Date(data[index].fields.dateModified * 1000),
                modifiedDateFormatted: this.getFormattedDate(new Date(data[index].fields.dateModified * 1000)),
                endDate: data[index].fields.dateClosed ? new Date(data[index].fields.dateClosed * 1000) : "N/A",
                endDateFormatted: data[index].fields.dateClosed ? this.getFormattedDate(new Date(data[index].fields.dateClosed * 1000)) : "N/A",
                status: data[index].fields.status.name,
                commentsTotal: transactionData.commentsTotal,
                commentsAuthorsTotal: transactionData.commentsAuthorsTotal,
                commentsPatches: transactionData.commentsPatches
              });
            });
          });

          this.formSubmitted = true;

          // Append the query parameters and formatted date to the csv download filename.
          let paramsString = this.tag ? '_tags-' + this.formatParameters(this.tag) : '';
          paramsString = this.taskid ? paramsString + '_taskids-' + this.formatParameters(this.taskid) : paramsString;
          paramsString = this.textsearch ? paramsString + '_textsearch-' + this.formatTextSearchCsv(this.textsearch) : paramsString;
          this.filename = 'MetricsPlatform' + paramsString + '_' + this.getFormattedDate(new Date(), '-');
        } catch (error) {
            console.error("Error submitting form:", error);
        }
    },
    async paginateData(response, params, direction) {
      let cursor = direction == 'after' ? response.data.result.cursor.after : response.data.result.cursor.before;
      if (cursor) {
        const params1 = params + '&' + direction + '=' + cursor;
        const response1 = await axios.post(phabUrl + '/api/maniphest.search', params1);
        this.submitForm(params1, response1);
      } else {
        this.results = false;
        this.resultsMessage = "All results have been returned.";
      }
    },
    async getTransactionData(params) {
      let commentsTotal = 0;
      let commentsPatches = 0;
      let commentsAuthors = [];

      const transactionData = await axios.post(phabUrl + '/api/transaction.search', params);
      const data = transactionData.data.result.data;

      data.forEach((item, index) => {
        if (item.type !== 'comment') {
          return;
        }
        commentsTotal++;

        /* Each item in comments is an edited version of the comment. 
           We only need the original comment (we are not concerned with revisions)
           which is the first index of the comments array.
        */
        if (!commentsAuthors.includes(item.comments[0].authorPHID)) {
            commentsAuthors.push(item.comments[0].authorPHID)
          }
        if (item.comments[0].content.raw.includes("had a related patch set uploaded")) {
          commentsPatches++;
        }
      });

      return {
        'commentsTotal': commentsTotal,
        'commentsPatches': commentsPatches,
        'commentsAuthorsTotal': commentsAuthors.length,
      };
    },
    setMultipleParameters(params, type) {
      const paramsArray = params.split(",");
      let paramsString = "";
      paramsArray.forEach((item, index) => {
        paramsString+='&constraints[' + type + '][' + index + ']=' + item.trim();
      });
      return paramsString;
    },
    formatParameters(params) {
      const paramsArray = params.split(",").map((item) => {
        return item.trim();
      });
      return paramsArray.join('-');
    },
    formatTextSearch(param) {
      const paramFormatted = param.replace(' ', '%20');
      return '&constraints[query]=' + paramFormatted;
    },
    formatTextSearchCsv(param) {
      return param.replace(' ', '-');
    },
    rerunSearch() {
      window.location.reload();
      this.formSubmitted = false;
    },
    arrayToCsv(data) {
      let processedData = [];
      // Remove extraneous date columns for export, add link to task.
      data.forEach((item) => {
        processedData.push({
          id: item.id,
          name: item.name,
          url: phabUrl + "/T" + item.id,
          startDate: item.startDateFormatted,
          modifiedDate: item.modifiedDateFormatted,
          endDate: item.endDateFormatted,
          status: item.status,
          commentsTotal: item.commentsTotal,
          commentsAuthorsTotal: item.commentsAuthorsTotal,
          commentsPatches: item.commentsPatches
        });
      });
      const array = [Object.keys(processedData[0])].concat(processedData)

      return array.map(it => {
        return Object.values(it).toString()
      }).join('\n');
    },
    /**************************************************************
     * downloadBlob(csv, 'filename.csv', 'text/csv;charset=utf-8;')
     *************************************************************/
     downloadBlob(content, filename, contentType) {
      // Create a blob.
      let blob = new Blob([content], { type: contentType });
      let url = URL.createObjectURL(blob);

      // Create a download link.
      const anchor = document.createElement('a');
      anchor.href = url;
      anchor.target = '_blank';
      anchor.setAttribute("download", filename);
      anchor.click();
    },
    exportData(data, params) {
      const csvContent = this.arrayToCsv(data);
      const paramsFormatted = params.replace(", ", "-");
      this.downloadBlob(csvContent, params + ".csv", "text/csv;charset=utf-8;");
    },
    getFormattedDate(date, delimiter = '/') {
      let day = date.getDate();
      let month = date.getMonth();
      let year = date.getFullYear();
      return year + delimiter + month + delimiter + day;
    }
  },
};
</script>
<style>
  form, table, th, td {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  input {
    padding: 4px 8px;
    margin: 4px;
  }

  input::placeholder {
    text-align: center;
  }

  span {
    font-size: 18px;
    margin: 4px;
    font-weight: 500;
  }

  .submit {
    font-size: 15px;
    color: #fff;
    background: #222;
    padding: 6px 12px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 5px;
  }

  div.toolbar {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  div.toolbar span,
  div.toolbar button {
      display: table-cell;
      text-align: center;
  }
  button {
    margin: 10px;
  }
  div.chart {
    text-align: center;
  }

</style>
