<template>
    <Bar
      v-if="loaded"
      id="metrics-platform-id"
      :options="chartOptions"
      :data="chartData"
    />
  </template>
  
  <script>
  import { Bar } from 'vue-chartjs'
  import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'

  ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)
  
  export default {
    name: 'BarChart',
    components: { Bar },
    computed: {
        chartData() {
            return {
                labels: this.getLabels(this.tasks),
                datasets: this.getFormattedData(this.tasks),
            }
        },
    },
    data() {
      return {
        loaded: false,
        chartOptions: {
          responsive: true,
        }
      }
    },
    props: {
        tasks: {
            type: Array,
            required: true
        },
    },
    created() {
        this.getData(this.tasks);
    },
    methods: {
        getData(tasks) {
            this.chartData.labels = this.getLabels(tasks);
            this.chartData.datasets = this.getFormattedData(tasks);
            this.loaded = true;
        },
        getLabels(data) {
            let labels = [];
            data.forEach((item, index) => {
                labels.push(item.id)
            });
            return labels;
        },
        getFormattedData(data) {
            let raw = [];
            data.forEach((item, index) => {
                const oneDay = 24 * 60 * 60 * 1000;
                const endDate = data[index].endDate == 'N/A' ? data[index].modifiedDate : data[index].endDate;
                const diffDays = Math.round(Math.abs((data[index].startDate - endDate) / oneDay));
                raw.push(diffDays)
            });
            return [{
                label: 'Number of days per Task Id',
                data: raw
            }];
        }
    },
  }
  </script>
