<script>
import Form from './components/Form.vue'

export default {
  name: "App",
  components: {
    Form
  }
};
</script>

<template>
  <div>
    <a href="https://wikimediafoundation.org/" target="_blank">
      <img src="./assets/Wikimedia_Foundation_Logo.png" class="logo" alt="WMF logo" />
    </a>
  </div>
  <Form />
</template>

<style scoped>
.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
